<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1> {{ title }} </h1>
      <hr/>
    <!--<app-servers></app-servers>
    <div app-servers></div>
    <div class="app-servers"></div> -->
    <!--<app-tugas3></app-tugas3> -->
    <!-- <div app-tugas3></div>
    <div class="app-tugas3"></div> -->
      <!-- <app-tugas></app-tugas> -->
      <!--<app-tugas></app-tugas> -->
      <app-mahasiswa></app-mahasiswa> 
       <!-- <app-pegawai></app-pegawai> -->
    </div>
  </div>
</div>